meta(charset='utf-8')
meta(name='viewport' content='initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width, user-scalable=no, minimal-ui')
link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh' crossorigin='anonymous')

nav.navbar.navbar-expand-lg.navbar-white.bg-light
    .navbar-brand.mr-auto.task-list
        span.my-sm-2 Buttons  	
    .login-nav-data
    a.btn.btn-warning(href='/') Home
    if(loggedin)
        .btn-group
            .btn.btn-warning= email
            a.btn.btn-warning.logout-btn(href='./logout') Logout

table.table.db-table
    thead
        tr
            th Email
            th Button 1
            th Button 2
            th Button 3
            th X
    tbody
        each el in array
            tr
                th #{el.user_email}
                td #{el.button1_number}
                td #{el.button2_number}
                td #{el.button3_number}
                td
                    .delete-element.text-danger(data-id= el.user_email) Delete


script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js')
script(src="/javascripts/admin.js")